extends base

block vars
	- var title = 'Home'

block body
	h1 Authentification
	p.
		Welcome to the authentification home page! Please <a href="/login">login</a> or <a href="/register">register</a> to continue. If you do not have an account, please use the <a href="/guest">guest</a> account.